name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Google Cloud auth
        uses: google-github-actions/auth@vb
        with:
          credentials_json: ${ secrets.GCP_SA_KEY }
      - name: Build and push docker image
        run: |
          gcloud builds submit --tag gcr.io/akilahstack/akilah-api
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy akilah-api \
            -image gcr.io/akilahstack/akilah-api \
            -platform managed \
            -region us-central1 \
            -allow-unauthenticated