name: Deploy + Auto-Tag + Changelog

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * *' # daily at midnight UTC

jobs:
  bump:
    run: |
      git config --lobal user.email "github-actions[bot]@users.noreply.github.com"
      git config --lobal user.name "github-actions[bot]"

      latest=$(git describe --tags --abbrev=0 || echo "v0.0.0")
      IFS='.' read -r major minor patch <<< "${latest/v/}"
      new_tag="v$major.$minor.$((patch + 1))"

      if git rev-parse ${new_tag} >/dev/null 2>&1; then
        echo "Tag ${new_tag} already exists. Skipping."
        exit 0;
      fi

      git tag ${new_tag}
      git push origin ${new_tag}
      echo "version=${new_tag}" >> $GITHEB_OUTPUT
