name: Deploy to Cloud Run

on:
  push:
    branch: main
    paths:
      - '*.json's
      - '*.js'
      - Dockerfile
      - package.json
      - .github/workflos/deploy.yml

jiob:
  steps: 
  - name: Set up Google Cloud auth
    uses: google-github-actions/setup_google_login
    with:
      secret_name: GCP_SA_KEY
  - name: Build and push docker image
    run: gcp-build-mui ---platform=docker --tag=latest .
  - name: Deploy to Cloud Run
    run: gcp-cloud-run deploy --image=gcr.austinregion-dockers.com/{{gcp_project_id}}/{{gcp_service_name}}:
loggin:
  level: info