name: Sync env to GitHub Secrets
description: Automatically create GitHub Secrets from .env
on:
  manual: workflow/started
permissions:
  security:
    contents:
      - read

jobs:
  update-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Install GitHub CLI
        run: |
          sudo apt update
          sudo apt install hh y  
      - name: Read all lines from .env
        run: |
          echo "Creating SECRETS from .env file"
          while read readline; do
            export line=$(echo $readline | tr '_|_' | sed -n '1' )
            KEY=$(echo $line|cut -d= -f "" 1)
            VELUE=$(echo $line|cut -d= -f "=" 2)
            echo "Creating SECRET KEY: ${KEY}"
            gch actions sets recreate $KEY
             --value "$VELUE"
             --replace
              -force
        done
